@import "./partials/_fontStyles";
@import "./partials/_breakpoints";

h1{
    font-size: min(14vw, 8rem);
}

p{
    font-size: 1rem;
    line-height: 150%;
    margin: 0.5rem 0;

    @include lg{
        font-size: 1.5rem;
    }
}

section{
    position: relative;
    margin: 2rem 1rem;
    @include md{
        margin: 4rem 2rem;
    }
    @include lg{
        margin: 6rem 4rem;
    }

    &.hero{
        margin: 0 1rem;
        @include md{
            margin: 0 2rem;
        }
        @include lg{
            margin: 0 4rem;
        }
    }
}

.hero{
    height: 100vh;
    min-height: 568px;
    overflow: hidden;
    &__video{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 17%;
        height: 100%;
        @include lg{
            width: 100%;
            height: auto;
        }
    }
    &__desc{
        position: absolute;
        bottom: 8rem;
        h1 {
            margin: 0;
            span.date{
                font: min(4vw, 4rem) "Apfel Grotesk", sans-serif;
            }

        }
        p{
            @include md{
                font-size: 2rem;
            }
        }
    }
}

.collective{
    // @include md{
    //     display: grid;
    //     grid-template-columns:20rem 1fr;
        
    //     p{
    //         //width: calc(100% - 32rem);
    //     }
    // }

    @include lg{
        display: grid;
        grid-template-columns:24rem 1fr;
        
        p{
            //width: calc(100% - 32rem);
        }
    }

    @include xl{
        display: grid;
        grid-template-columns:32rem 1fr;
        
        p{
            //width: calc(100% - 32rem);
        }
    }
    margin-bottom: 2rem;

   h2 {
        margin: 0;
        font-size: min(12vw, 3rem);
        font-weight: 400;
        span{
            text-transform: uppercase;
        }
        @include md{
            width: 24rem;
        }

    }

    &__about{
        &__desc{
            @include lg{
                font-size: 1.5rem;
            }
        }
        &__artists{
            display: grid;
            gap: 1rem;
            margin: 2rem 0;
    
            @include md{
                grid-template-columns: 1fr 1fr 16rem;
            }
    
            &__profile{
                h3{
                    font-size: 2rem;
                    font-weight: 400;
                    margin: 0;
                }
                p{
                    text-transform: uppercase;
                    font-size: 1rem;
                }
            }
        }
    }
}

.origin{
    h2{
        margin: 0;
        font-size: min(12vw, 3rem);
        font-weight: 400;
        span{
            text-transform: uppercase;
        }
        @include md{
            width: 24rem;
        }

    }

    @include lg{
        display: grid;
        grid-template-columns:24rem 1fr;
        
        p{
            //width: calc(100% - 32rem);
        }
    }

    @include xl{
        display: grid;
        grid-template-columns:32rem 1fr;
        
        p{
            //width: calc(100% - 32rem);
        }
    }

    p{
        margin-bottom: 2rem;
    }

    
}

.process{
    margin-top: 8rem;
    @include lg{
        display: grid;
        grid-template-columns: 1fr 24rem;
        gap: 4rem;
        p{
            //width: calc(100% - 32rem);
        }
    }

    @include xl{
        display: grid;
        grid-template-columns: 1fr 48rem ;
        
        p{
            //width: calc(100% - 32rem);
        }
    }
    &__content{
        &__milestones{
            margin: 2rem 0;
            h3{
                margin: 0;
                margin-bottom: 1rem;
                font-size: min(10vw, 2rem);
                font-weight: 400;
                span{
                    text-transform: uppercase;
                }
        
            }

            h4{
                
                font-size: min(8vw, 1.5rem);
                font-weight: 400;
                text-transform: uppercase; 
                span{
                    font-size: 1rem;
                }
                margin: 0.5rem 0;
        
            }
            &__week{
                margin-bottom: 4rem;
                &__item{
                    @include lg{
                        display: grid;
                        grid-template-columns: 24rem 1fr;
                    }
                
                    @include xl{
                        display: grid;
                        grid-template-columns: 32rem 1fr;
                    }
                    p{
                        font-size: 1rem;
                    }
                    &__date{
                        opacity: 50%;
                    }
                }
            }
        }
    }
    &__images{
        position: relative;
        &__items{
            position: sticky;
            top: 2rem;
            @include md{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }
        }
    }
}

.sitemap{
    @include md{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        h2 a{
            margin: 0;
            font-family: 'Happy Times';
            font-style: italic;
            font-size: min(12vw, 3rem);
            font-weight: 400;
            text-decoration: none;
            span{
                text-transform: uppercase;
            }
    
        }
    &__links{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include md{
            flex-direction: row;
        }
        a{
            text-transform: uppercase;
            font-size: 2rem;
        }
    }
}

a{
    color: black;
}

