@font-face {
  font-family: "Happy Times";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/happyTimes/happy-times-NG_regular_master_web.woff2") format("woff2"), url("../../fonts/happyTimes/happy-times-NG_regular_master_web.woff") format("woff");
}
@font-face {
  font-family: "Happy Times";
  font-weight: 400;
  font-style: italic;
  src: url("../../fonts/happyTimes/happy-times-NG_italic_master_web.woff2") format("woff2"), url("../../fonts/happyTimes/happy-times-NG_italic_master_web.woff") format("woff");
}
@font-face {
  font-family: "Apfel Grotesk";
  font-weight: 400;
  src: url("../../fonts/apfel/ApfelGrotezk-Regular.woff2") format("woff2"), url("../../fonts/apfel/ApfelGrotezk-Regular.woff") format("woff");
}
@font-face {
  font-family: "Apfel Grotesk";
  font-weight: 600;
  src: url("../../fonts/apfel/ApfelGrotezk-Fett.woff2") format("woff2"), url("../../fonts/apfel/ApfelGrotezk-Fett.woff") format("woff");
}
h1 {
  font-size: min(14vw, 8rem);
}

p {
  font-size: 1rem;
  line-height: 150%;
  margin: 0.5rem 0;
}
@media (min-width: 1200px) {
  p {
    font-size: 1.5rem;
  }
}

section {
  position: relative;
  margin: 2rem 1rem;
}
@media (min-width: 768px) {
  section {
    margin: 4rem 2rem;
  }
}
@media (min-width: 1200px) {
  section {
    margin: 6rem 4rem;
  }
}
section.hero {
  margin: 0 1rem;
}
@media (min-width: 768px) {
  section.hero {
    margin: 0 2rem;
  }
}
@media (min-width: 1200px) {
  section.hero {
    margin: 0 4rem;
  }
}

.hero {
  height: 100vh;
  min-height: 568px;
  overflow: hidden;
}
.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 17%;
  height: 100%;
}
@media (min-width: 1200px) {
  .hero__video {
    width: 100%;
    height: auto;
  }
}
.hero__desc {
  position: absolute;
  bottom: 8rem;
}
.hero__desc h1 {
  margin: 0;
}
.hero__desc h1 span.date {
  font: min(4vw, 4rem) "Apfel Grotesk", sans-serif;
}
@media (min-width: 768px) {
  .hero__desc p {
    font-size: 2rem;
  }
}

.collective {
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  .collective {
    display: grid;
    grid-template-columns: 24rem 1fr;
  }
}
@media (min-width: 1440px) {
  .collective {
    display: grid;
    grid-template-columns: 32rem 1fr;
  }
}
.collective h2 {
  margin: 0;
  font-size: min(12vw, 3rem);
  font-weight: 400;
}
.collective h2 span {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .collective h2 {
    width: 24rem;
  }
}
@media (min-width: 1200px) {
  .collective__about__desc {
    font-size: 1.5rem;
  }
}
.collective__about__artists {
  display: grid;
  gap: 1rem;
  margin: 2rem 0;
}
@media (min-width: 768px) {
  .collective__about__artists {
    grid-template-columns: 1fr 1fr 16rem;
  }
}
.collective__about__artists__profile h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}
.collective__about__artists__profile p {
  text-transform: uppercase;
  font-size: 1rem;
}

.origin h2 {
  margin: 0;
  font-size: min(12vw, 3rem);
  font-weight: 400;
}
.origin h2 span {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .origin h2 {
    width: 24rem;
  }
}
@media (min-width: 1200px) {
  .origin {
    display: grid;
    grid-template-columns: 24rem 1fr;
  }
}
@media (min-width: 1440px) {
  .origin {
    display: grid;
    grid-template-columns: 32rem 1fr;
  }
}
.origin p {
  margin-bottom: 2rem;
}

.process {
  margin-top: 8rem;
}
@media (min-width: 1200px) {
  .process {
    display: grid;
    grid-template-columns: 1fr 24rem;
    gap: 4rem;
  }
}
@media (min-width: 1440px) {
  .process {
    display: grid;
    grid-template-columns: 1fr 48rem;
  }
}
.process__content__milestones {
  margin: 2rem 0;
}
.process__content__milestones h3 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: min(10vw, 2rem);
  font-weight: 400;
}
.process__content__milestones h3 span {
  text-transform: uppercase;
}
.process__content__milestones h4 {
  font-size: min(8vw, 1.5rem);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0.5rem 0;
}
.process__content__milestones h4 span {
  font-size: 1rem;
}
.process__content__milestones__week {
  margin-bottom: 4rem;
}
@media (min-width: 1200px) {
  .process__content__milestones__week__item {
    display: grid;
    grid-template-columns: 24rem 1fr;
  }
}
@media (min-width: 1440px) {
  .process__content__milestones__week__item {
    display: grid;
    grid-template-columns: 32rem 1fr;
  }
}
.process__content__milestones__week__item p {
  font-size: 1rem;
}
.process__content__milestones__week__item__date {
  opacity: 50%;
}
.process__images {
  position: relative;
}
.process__images__items {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
}
@media (min-width: 768px) {
  .process__images__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .sitemap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.sitemap h2 a {
  margin: 0;
  font-family: "Happy Times";
  font-style: italic;
  font-size: min(12vw, 3rem);
  font-weight: 400;
  text-decoration: none;
}
.sitemap h2 a span {
  text-transform: uppercase;
}
.sitemap__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .sitemap__links {
    flex-direction: row;
  }
}
.sitemap__links a {
  text-transform: uppercase;
  font-size: 2rem;
}

a {
  color: black;
}/*# sourceMappingURL=about.css.map */