@import "./partials/_fontStyles";
@import "./partials/_breakpoints";

html, body {
    margin: 0;
    padding: 0;
  }

img{
  width: 100%;
  height: auto;
}
.client{
  height:100vh;
  min-height: 35.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__nav{
    width: calc(100% - 2rem);
    max-width: 30rem;
    @include md{
      width: 30rem;
    }

    display:flex;
    justify-content: flex-end;
    
    a{
      width:2rem;
      cursor: pointer;
    }
  }

  &__wrapper{
    width: calc(100% - 2rem);
    max-width: 30rem;
    @include md{
      width: 30rem;
    }
    canvas {
      display: block;
    }
    border: solid 0.25rem black;
  }

  &__menu{
    height: 4.25rem;
    position: relative;
    border-top: solid 0.25rem black;
    overflow:hidden;

    &__toggle{
      position: absolute;
      width: 3rem;
      height: 3rem;
      top: 0.625rem;
      right: 0;
      cursor: pointer;

      img{
        transition: all 0.3s ease;
      }

      &--active{
        img{
          transform: rotate(180deg);
        }
      }
    }

    p{
      margin: 0.5rem 0;
      font-size: min(10vw, 3rem);
      font-weight: 600;
      text-transform: uppercase;
      width: min(30vw, 9rem);
      & span#counter{
        vertical-align: super;
        font-size: 1.5rem;
      }
    }

    &__wrapper{
      position:relative;
      display:flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 1rem;
    }

    &__indicator{
      width: 2rem;
    }

    &__migrate_CTA{
      width: min(10vw, 2.5rem);
      cursor: pointer;
    }

    &__main{
      height: 4.25rem;

      min-width: calc(100% - 3rem);
      max-width: 30rem;

      display: flex;
      align-items: center;

      gap: 1rem;
      @include md{
        width: 30rem;
      }
    }
  }
}
  

body{
    font: 1rem "Apfel Grotesk", sans-serif;
}

h1{
    font: italic 8rem "Happy Times", serif;
    margin: 0;
    font-size: min(15vw, 4rem);
}
