@use "./partials/_fontStyles";

html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
    border: solid 0.25rem black;
  }
  

body{
    font: 1rem "Apfel Grotesk", sans-serif;
}

h1{
    font: italic 8rem "Happy Times", serif;
}