@import "./partials/_fontStyles";
@import "./partials/_breakpoints";

html, body {
    margin: 0;
    padding: 0;
  }
.client{
  height:100vh;
  min-height: 35.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__nav{
    width: calc(100% - 2rem);
    max-width: 30rem;
    @include md{
      width: 30rem;
    }

    display:flex;
    justify-content: flex-end;
    
    img{
      width:2rem;
    }
  }

  &__wrapper{
    width: calc(100% - 2rem);
    max-width: 30rem;
    @include md{
      width: 30rem;
    }
    canvas {
      display: block;
    }
    border: solid 0.25rem black;
  }

  &__menu{
    height: 4.25rem;
    position: relative;
    border-top: solid 0.25rem black;
    overflow:hidden;

    &__toggle{
      position: absolute;
      width: 3rem;
      height: 3rem;
      top: 0.625rem;
      right: 0;

      img{
        width:100%;
        height:auto;
        transition: all 0.3s ease;
      }

      &--active{
        img{
          transform: rotate(180deg);
        }
      }
    }

    p{
      width: min(30vw, 9rem);
      margin: 0.5rem 0;
      font-size: min(10vw, 3rem);
      font-weight: 600;
      text-transform: uppercase;
      & span#counter{
        vertical-align: super;
        font-size: 1.5rem;
      }
    }
    &__wrapper{
      position:relative;
      display:flex;
      flex-direction: column;
      top: -100%;
      transition: all 0.3s ease;

      &--active{
        top: 0;
      }
    }

    &__indicator{
      width: 2rem;
      img{
        width:100%;
        height:auto;
      }
    }
    &__modify, &__macros{
      display:flex;
      align-items:center;
      gap:1rem;
      height: 4.25rem;

      min-width: calc(100% - 3rem);
      max-width: 30rem;

      margin: 0 0.5rem;
      @include md{
        width: 30rem;
      }
    }
    &__macros{
      display:flex;
      
      p{
        width:auto;
        text-decoration: underline;
      }
    }
  }
}
  

body{
    font: 1rem "Apfel Grotesk", sans-serif;
}

h1{
    font: italic 8rem "Happy Times", serif;
}