@font-face {
  font-family: "Happy Times";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/happyTimes/happy-times-NG_regular_master_web.woff2") format("woff2"), url("../../fonts/happyTimes/happy-times-NG_regular_master_web.woff") format("woff");
}
@font-face {
  font-family: "Happy Times";
  font-weight: 400;
  font-style: italic;
  src: url("../../fonts/happyTimes/happy-times-NG_italic_master_web.woff2") format("woff2"), url("../../fonts/happyTimes/happy-times-NG_italic_master_web.woff") format("woff");
}
@font-face {
  font-family: "Apfel Grotesk";
  font-weight: 400;
  src: url("../../fonts/apfel/ApfelGrotezk-Regular.woff2") format("woff2"), url("../../fonts/apfel/ApfelGrotezk-Regular.woff") format("woff");
}
@font-face {
  font-family: "Apfel Grotesk";
  font-weight: 600;
  src: url("../../fonts/apfel/ApfelGrotezk-Fett.woff2") format("woff2"), url("../../fonts/apfel/ApfelGrotezk-Fett.woff") format("woff");
}
body {
  background: #000000;
}

.tutorial {
  height: 100vh;
  min-height: 35.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tutorial__nav {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
}
.tutorial__nav__button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: white;
  border: 0.125rem white solid;
  text-transform: uppercase;
  padding: 0.5rem;
  font-size: 1.5rem;
}
.tutorial__nav__button--secondary {
  background: none;
  color: white;
}
.tutorial__wrapper {
  width: calc(100% - 2rem);
  max-width: 20rem;
}
@media (min-width: 768px) {
  .tutorial__wrapper {
    width: 20rem;
  }
}
.tutorial__wrapper canvas {
  display: block;
}
.tutorial__menu {
  height: 4.25rem;
  position: relative;
  border-top: solid 0.25rem black;
  overflow: hidden;
}
.tutorial__menu__toggle {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 0.625rem;
  right: 0;
  cursor: pointer;
}
.tutorial__menu__toggle img {
  transition: all 0.3s ease;
}
.tutorial__menu__toggle--active img {
  transform: rotate(180deg);
}
.tutorial__menu p {
  margin: 0.5rem 0;
  font-size: min(10vw, 3rem);
  font-weight: 600;
  text-transform: uppercase;
}
.tutorial__menu p span#counter {
  vertical-align: super;
  font-size: 1.5rem;
}
.tutorial__menu__modify p {
  width: min(30vw, 9rem);
}
.tutorial__menu__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  top: -100%;
  transition: all 0.3s ease;
}
.tutorial__menu__wrapper--active {
  top: 0;
}
.tutorial__menu__indicator {
  width: 2rem;
  display: none;
}
.tutorial__menu__indicator--active {
  display: block;
}
.tutorial__menu__migrate_CTA {
  width: min(10vw, 2.5rem);
  cursor: pointer;
}
.tutorial__menu__macros {
  height: 4.25rem;
  min-width: calc(100% - 3rem);
  max-width: 30rem;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .tutorial__menu__macros {
    width: 30rem;
  }
}
.tutorial__menu__macros p {
  cursor: pointer;
  text-decoration: underline;
}
.tutorial__menu__modify, .tutorial__menu__move {
  height: 4.25rem;
  min-width: calc(100% - 3rem);
  max-width: 30rem;
  margin: 0 0.5rem;
  display: none;
}
@media (min-width: 768px) {
  .tutorial__menu__modify, .tutorial__menu__move {
    width: 30rem;
  }
}
.tutorial__menu__modify--active, .tutorial__menu__move--active {
  display: flex;
  align-items: center;
  gap: 1rem;
}

body {
  font: 1rem "Apfel Grotesk", sans-serif;
}

h1 {
  font: italic 8rem "Happy Times", serif;
}/*# sourceMappingURL=tutorial.css.map */